VITE_PUBLIC_DOCS_BASE_URL=https://qair-public-assets.s3.amazonaws.com/docs
VITE_GITHUB_REPOSITORY_URL=https://github.com/organization/qair
VITE_COMMENTS_API_URL=
VITE_CALENDLY_URL=https://calendly.com/qair-equipo/demo
